body {
    text-align: center;
    background-image: url("tile.jpg");
}

textarea {
    background-image: url("note.jpg");
    width: 60%;
    height: 250px;
    font-size: 34px;
    font-family: AR BLANCA;
    border: none;
    padding: 3% 10% 3% 10%;
    margin-top: 20px;
}

#date,
#submit {
    font-family: AR BLANCA;
    background-color: dodgerblue;
    border: none;
    font-size: 26px;
}

#date {
    background-color: whitesmoke;
    margin-right: -10px;
}

.padTextearea {
    float: left;
    margin-left: 100px;
    margin-top: -43px;
    background: none;
    background-image: url("pad.png");
    border: none;
    padding: 20%;
    width: 200px;
    height: 250px;
    font-size: 16px;
}

div {
    float: left;
    margin-left: 8%;
    margin-top: 50px;
    height: 260px;
    width: 200px;
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    ;
    to {
        opacity: 1;
    }
    ;
}

h5 {
    color: red;
    margin-left: 200px;
    font-weight: 600;
    font-family: AR BLANCA;
}

span {
    color: red;
    margin-left: 128%;
    font-size: 20px;
}